<table class="user-table">
  <thead class="thead-dark">
    <tr>
      <th>動画投稿者名</th>
      <th>レビュー内容</th>
      <th>ユーザーネーム</th>
      <th>コメント数</th>
    </tr>
  </thead>

  <tbody>
    <% articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to article.body.truncate(20), article_path(article.id) %></td>
      <td><%= article.user.name %></td>
      <td><%= "#{article.comments.count} コメント" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate articles %>

