<h2 class="text-center">ランキング</h2><hr>
<h5 class="text-center">いいね数のランキングです</h5><hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>順位</th>
      <th>動画投稿者名</th>
      <th>オススメポイント</th>
      <th>いいね数</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each.with_index(1) do |rank, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td>
          <%= link_to article_path(rank) do %>
            <%= rank.title %>
          <% end %>
        </td>
        <td><%= rank.body.truncate(20) %></td>
        <td><%= rank.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


