<h1>新規投稿フォーム</h1>
<% if @article.errors.any? %>
  <%= @article.errors.count %>件のエラーが発生しました
  <% @article.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model: @article, local:true do |f| %>
  <h4>レビューしたい動画投稿者名</h4>
  <%= f.text_field :title %>
  <h4>オススメしたい動画内容とポイント</h4>
  <%= f.text_area :body %>
  <%= f.submit "投稿する" %>
<% end %>