<div>
  <p>動画投稿者名：<%= @article.title %></p>
  <p>レビュー内容：<%= @article.body %></p>
  <p>ユーザーネーム：<%= @article.user.name %></p>
  <p>投稿日時：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
  <% if @article.user == current_user %>
    <%= link_to "削除", article_path(@article), method: :delete %>
  <% end %>
</div>