<div>
  <p>動画投稿者名：<%= @article.title %></p>
  <p>レビュー内容：<%= @article.body %></p>
  <%= link_to user_path(@article.user_id) do %>
  <p>ユーザーネーム：<%= @article.user.name %></p>
  <% end %>
  <p>投稿日時：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
  <% if @article.user == current_user %>
    <%= link_to "削除", article_path(@article), method: :delete %>
  <% end %>

  <div id="favorite_buttons_<%= @article.id %>">
　　　<%= render "favorites/favorites", article: @article %>
　</div>
</div>

<div>
<p>コメント数：<%= @article.comments.count %></p>
<ul id="comments">
<% @article.comments.each do |article_comment| %>
  <li id="comments-<%= article_comment.id %>">
　  <%= render "comments/comments", article_comment: article_comment %>
  </li>
<% end %>
</ul>
</div>
<div>
<%= form_with(model:[@article, @comment]) do |f| %>
  <%= f.text_area :comment_body, rows:'5',placeholder: "コメントを入力" %>
  <%= f.submit "送信" %>
<% end %>
</div>