<div>
  <p>動画投稿者名：<%= @article.title %></p>
  <p>レビュー内容：<%= @article.body %></p>
  <p>ユーザーネーム：<%= @article.user.name %></p>
  <p>投稿日時：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
  <% if @article.user == current_user %>
    <%= link_to "削除", article_path(@article), method: :delete %>
  <% end %>
  <% if @article.favorited_by?(current_user) %>
    <p>
      <%= link_to article_favorites_path(@article), method: :delete do %>
        ♥<%= @article.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to article_favorites_path(@article), method: :post do %>
        ♡<%= @article.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
<p>コメント数：<%= @article.comments.count %></p>
<% @article.comments.each do |article_comment| %>
  <%= article_comment.user.name %>
  <%= article_comment.created_at.strftime('%Y/%m/%d') %><%= article_comment.comment_body %>
  <% if article_comment.user == current_user %>
  <div>
    <%= link_to "削除", article_comment_path(article_comment.article, article_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div>
<%= form_with(model:[@article, @comment], local: true) do |f| %>
  <%= f.text_area :comment_body, rows:'5',placeholder: "コメントを入力" %>
  <%= f.submit "送信" %>
<% end %>
</div>