<div class="container-fluid">
<h2 class="text-center"><%= @user.name %>のユーザーページ</h2><hr>
  <main class="row">
    <div class="col-12 col-sm-8">
      <div class="container">
        <p>
          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete, class:"btn btn-primary btn-sm" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-primary btn-sm" %>
            <% end %>
          <% end %>
        </p>
          <div class="table-responsive">
            <%= render 'articles/list', articles: @articles %>
          </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="container">
        <div>
          <p>
          <%= link_to user_followings_path(@user), class:"btn btn-info" do %>
            フォロー数: <%= @user.followings.count%>
          <% end %>
          <%= link_to user_followers_path(@user), class:"btn btn-info" do %>
            フォロワー数: <%= @user.followers.count %>
          <% end %>
          </p>
        <p><%= @user.introduction %></p>
        <p>
          <% if @user.id == current_user.id %>
            <%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-info" %>
          <% end %>
        </p>
        </div>
      </div>
    </div>
  </main>
</div>